<div class="card">
  <div class="card-body text-center">
    <img
      class="rounded-circle img-thumbnail border-danger"
      width="150"
      height="150"
      [src]="user.picture?.large"
      alt="user-img"
    />
    <div class="card-title text-primary">
      <h1>
        <span class="px-2"> {{ user.name?.title }}. </span>
        <span class="px-2"> {{ user.name?.first }} </span>
        <span class="px-2"> {{ user.name?.last }} </span>
      </h1>
    </div>
    <div class="card-text">
      <fa-icon [icon]="faEnvelope"> </fa-icon>
      {{ user.email }}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faMapMarkedAlt"> </fa-icon>
      {{ user.location?.city }} {{ user.location?.state }}
    </div>
    <div class="card-text">
      <fa-icon [icon]="faPhone"> </fa-icon>
      {{ user.location?.street?.number }}
    </div>
  </div>
</div>
